.errors {
    color: red;
}
body{
    background: url('../Assets/wall.jpg');
}
html,
body {
    
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    margin-top: 4%;
}

.section {
    /* min-width: 500px; */
    display: flex;
    height: 400px;
    width: 600px;

}

.split-left {
    background-color: #192F3D;
    width: 30%;
    /* height: 520px; */
}

.split-right {
    width: 70%;
    /* object-fit: cover; */
}

.split-right img {
    width: 110%;
}

.inner-of-left {
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

form {
    /* border: 5px solid #f1f1f1; */
}

select,
input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 10px;
}
.title{
    color: white;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity))!important;
}

.navbar {
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
}

button {
    background-color: #4286f4;
    color: white;
    padding: 4px 0;
    margin: 12px 0px;
    border: none;
    cursor: grab;
    min-width: 100%;
    /* width: 30%; */
    border-radius: 2px;
}

h1 {
    text-align: center;
    font-size: 18;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

.adduser {
    max-width: 400px;
}

.container {
    padding: 16px 0;
    text-align: left;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

.manage-buttons {
    display: flex;
    justify-content: space-around;
}

.manage-buttons div {
    justify-content: space-around;
    align-items: center;
}

.container {
    max-width: 500px;
}

.text-box-container {
    margin-top: 130px;
    /* margin-left: -50%;
    margin-right: 35%; */
    margin: 10% auto;
    padding: 30px;
    background-color: red;
    max-width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}

.text-box-container div {
    background-color: white;
    margin: 10px;
    padding: 4px;
}